__pycache__/
*.pyc
.cache/
.pytest_cache/
samples/*.mp4
dev_videos/
predictions.json
web/node_modules/
web/.next/
web/out/
*.log
.proxy/
/results/
/_to_delete/
web/public/media/vehicles*
*.part.mp4
hf_space/
web/public/data/videos/vehicles*
web/public/media/eda/vehicles*
